*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #cde;
}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: radius 5px;
    padding: 10px;
}